	.datepicker{
		width: 250px;
		height: auto;
		background-color: #fff;
		border: 1px solid #7f8c8d;
		padding-bottom: 5px;
		border-radius: 5px;
		margin-top: 10px;
		color: #1d1d1d;
		font-family: sans-serif;
		font-size: 14px;
		box-shadow: 5px 7px 14px -6px rgba(0,0,0,0.4);
		position: absolute;
	}

	.div-field{
		height: 30px;
	}

	.div-field input {
    box-sizing: border-box;
    width: 100%;
    background: #fff;
    border: 1px solid #ccc;
    padding: 5px;
    color: #555;
    height: 30px;
    font: 90% Arial, Helvetica, sans-serif;
}

	.date-field{
		float:left;
		width: 100%;
		height: 30px;
	}

	.calendar-button{
		float: left;
		width: 30px;
		background-color: #ddd;
		border-top-right-radius: 5px;
		border-bottom-right-radius: 5px;
		border: 1px solid #7f8c8d;
		border-left: none;align-content: center;
	}

	.calendar-icon{
		position: relative;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
	}

	.calendar-icon:active{
		 transform: translate(-50%,-50%) scale(0.9);
	}

	.year-month{
		width: 100%;
		height: 50px;
		border-top-right-radius: 5px;
		display: flex;
	}

	#button-monthforward{
		border-top-right-radius: 5px;
	}

	#button-monthbackward{
		border-top-left-radius: 5px;
	}

	.month-direction{
		width: 35px;
		background-color: #eee;
		border: none;
		padding-top:17px;
		box-sizing: border-box;
		padding-left: 9px;
	}

	.direction-symbol{
		
		align-content: center;
		cursor: pointer;
		border-radius: 50%;
		display: table-cell;
	}

	.direction-symbol:hover{
		transform: scale(1.2);
	}
	.direction-symbol:active{
		transform: scale(0.8);
	}

	#header{
		width: 180px;
		background-color: #eee;
		text-align: center;
		font-weight: bolder;
	}

	#days{
		width: 100%;
		background-color: #fff;
	}

	#days th{
		height: 25px;
	}

	#months{
		width: 100%;
		background-color: #fff;
		padding: 5px 5px 0 5px;
	}

	#months td{
		width: 25px;
	}

	#months tr{
		height: 61.45px;
	}

	.date-button{
		width: 28px;
		height: 25px;
		margin: 3px;
		background-color: white;
		text-align: center;
		line-height: 25px;
		border-radius: 5px;
	}

	.date-button:hover{
		background-color: #ddd;
	}

	.active{
		background-color: blue !important;
	}

	#year-name{
		width: 75%;
		margin: 0 auto;
		height: 23px;
		background-color: #eee;
		border-bottom: 1.5px inset #ddd;
	}

	#year-name span, #year-name i{
		cursor: pointer;
		line-height: 23px;
	}

	#month-name{
		width: 100%;
		height: 25.5px;
		background-color: #eee;
	}

	#month-name span{
		line-height: 25.5px;
	}

	.select-year-div{
		width: 60px;
		height: 175px;
		margin: 0 96px;
		align-self: center;
		border: 1px solid #ddd;
		border-top: none;
		border-bottom-right-radius: 5px;
		border-bottom-left-radius: 5px;
		background-color: #fff;
		overflow-x: hidden;
		overflow-y: scroll;
		box-shadow: 5px 7px 14px -6px rgba(0,0,0,0.4);
		font-family: sans-serif;
		font-size: 14px;
		position: absolute;
	}

	.select-year-div table{
		margin: 0 0 0 6px;
		width: 45px;
	}

	.select-year-div tr td{
		cursor: pointer;
		text-align: center;
	}

	.select-year-div::-webkit-scrollbar{
		width: 5px;
	}

	.select-year-div::-webkit-scrollbar-thumb{
		background-color: #eee;
		border-radius: 10px;
		border: 1px solid #7f8c8d;
	}

	.select-year-div table tr td{
		border-radius: 20px;
	}

	.selected{
		background-color: #ddd;
	}

	.day-another-month{
		color: #a1a1a1;
	}

	.month-icon-down {
		position: relative;
		left: 61px;
		bottom: 13px;
		width: 0; 
	    height: 0; 
	    border-left: 4px solid transparent;
	    border-right: 4px solid transparent;
	    border-top: 4px solid #1d1d1d;
	}

	.month-icon-up {
		position: relative;
		left: 61px;
		bottom: 13px;
		width: 0; 
	    height: 0; 
	    border-left: 4px solid transparent;
	    border-right: 4px solid transparent;
	    border-bottom: 4px solid #1d1d1d;
	}

	.year-name-button{
		width: 80px;
		height: 23px;
		margin: 0 auto;
		border-radius: 20px;
	}

	.year-name-button:hover{
		background-color: #fff;
	}

	.year-name-button-selected{
		background-color: #fff;
	}

	.arrow {	
	    background-color: #eee;
	    width: 10px;
	    height: 15px;
	}
	.arrow-border{
		background-color: #7f8c8d;
		width: 10px;
	    height: 15px;
	    position: absolute;
	}

